<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- Fetch properties from application.yaml -->
	<springProperty name="applicationName" source="spring.application.name" defaultValue="application"/>
	<springProperty name="logsDir" source="app.logs.directory" defaultValue="logs"/>

	<!-- Import Spring Boot defaults   -->
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>
	<include resource="org/springframework/boot/logging/logback/console-appender.xml" />

	<appender name="CONSOLE"
			  class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable</pattern>
		</encoder>
	</appender>

	<!-- File appender -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
		<file>${logsDir}/${applicationName}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${logsDir}/${applicationName}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxFileSize>100MB</maxFileSize>
			<maxHistory>7</maxHistory>
		</rollingPolicy>
	</appender>

	<root level="info">
		<appender-ref ref="CONSOLE"/>
	</root>

</configuration>